@import "~bulma";

body {
  background-color: #f7f7f7;
  min-height: 100vh;
}

.app {
  padding-top: 3em;
}

.card-container {
  flex-wrap: wrap;
}

.stock-card {
  display: flex;
  justify-content: space-between;
}
