doctype html
html
  head
    title= 'Stocks Charts'
    link(rel='stylesheet' href='/dist/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    .container
      .section
        h1.title.has-text-centered Stocks Charts
    block scripts
      script(src='/dist/Client.bundle.js')
