doctype html
html
  head
    title= 'Stocks Charts'
    link(rel='stylesheet' href='/dist/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    .container.app
      .section
        h1.title.has-text-centered Stocks Charts
        .chartArea(style={height: '400px'})
          canvas#chart
        form(type="POST")#stockForm
          .field.has-addons.has-text-centered
            .control
              input(placeholder="Stock Code").input
            .control
              button(type="submit").button Submit
        if stocks
          each stock in stocks
            p= stock.symbol
    block scripts
      script(src='/dist/Client.bundle.js')
